:root{
  --primary-color: #2196f3
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .root {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: white;
  margin: 8px;
}

.ui.App-bar.menu {
  background: var(--primary-color)
}

.App-intro {
  font-size: large;
}

.shelf-title{
  font-size: 1.5em;
  text-align: left;
}

.ui.image.book-image img{
  height: 240px;
  width: 180px;
}
.book{
  margin-left: 18px;
  margin-right: 18px;
}
